In [1]:
# linear algebra
import numpy as np

In [2]:
# data processing
import pandas as pd

In [3]:
# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

In [4]:
# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

In [5]:
gender_submission_df = pd.read_csv(r"E:\siva\algo\dspy\session\gender_submission_titanic.csv")
test_df = pd.read_csv(r"E:\siva\algo\dspy\session\test_titanic.csv")
train_df = pd.read_csv(r"E:\siva\algo\dspy\session\train_titanic.csv")

In [31]:
k = train_df.columns
p = train_df.index
k = k[1:5]

In [36]:
train_df.columns.get_loc("Pclass")

2

In [37]:
%timeit [train_df.columns.get_loc(k1) for k1 in k if k1 in train_df.columns]

32.4 µs ± 679 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [38]:
k2, k3= pd.factorize(train_df["Pclass"])

In [39]:
k2

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 2, 0, 1, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 2, 1, 1, 0, 0, 0, 0, 0, 2, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2, 0, 0, 1, 1, 0, 1, 0,
       2, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 2, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 2, 1, 0, 2, 0, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 2, 2, 1, 1, 0, 1, 0, 0, 0, 0, 2, 2, 0, 0, 2, 2, 2, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 2, 0, 0, 2, 0, 2, 0, 1, 0, 1, 0, 0, 2, 2, 0, 2, 1, 1, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 2, 0, 1, 0, 2, 1, 2,
       0, 2, 0, 0, 1, 0, 2, 0, 2, 0, 1, 0, 2, 0, 2, 0, 2, 2, 2, 2, 0, 0,
       2, 0, 0, 1, 0, 2, 1, 2, 0, 0, 1, 0, 0, 0, 1, 1, 1, 2, 0, 0, 1, 1,
       0, 2, 0, 0, 1, 1, 1, 0, 2, 1, 0, 1, 0, 2, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 2, 0, 1, 1, 2, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 2, 0, 1, 1, 1,
       2, 1, 1, 1, 2, 0, 2, 0, 2, 2, 1, 1, 0, 0, 2, 2, 0, 1, 0, 2, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 2, 1, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 2, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 2, 0, 2, 0, 2, 1, 0, 0, 1, 0, 0,
       0, 2, 2, 2, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 1, 2, 0, 0, 2, 2,
       2, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 1, 0, 2, 0, 1, 1, 0, 2, 1, 2,
       2, 0, 0, 2, 0, 1, 2, 1, 0, 1, 2, 0, 1, 1, 0, 0, 1, 1, 2, 0, 1, 0,
       1, 2, 0, 0, 2, 1, 0, 0, 0, 0, 2, 2, 0, 1, 2, 0, 0, 0, 0, 2, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       2, 1, 0, 0, 0, 0, 1, 1, 0, 1, 2, 0, 2, 0, 1, 0, 0, 1, 0, 0, 2, 1,
       0, 2, 2, 0, 0, 0, 0, 2, 1, 1, 0, 1, 1, 0, 0, 2, 1, 1, 2, 2, 0, 2,
       1, 2, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 1,
       1, 0, 0, 0, 2, 1, 0, 0, 2, 1, 2, 1, 0, 1, 2, 1, 0, 0, 0, 1, 0, 0,
       2, 0, 2, 0, 0, 1, 2, 0, 1, 0, 1, 0, 0, 1, 2, 1, 0, 0, 0, 0, 0, 2,
       0, 0, 2, 2, 0, 1, 0, 0, 0, 1, 2, 1, 0, 0, 1, 0, 1, 1, 0, 2, 0, 2,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2, 1,
       1, 0, 1, 0, 0, 2, 2, 0, 0, 1, 2, 1, 2, 2, 2, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 2, 2, 0, 0, 0, 1, 1, 0, 0, 0, 1, 2, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 2, 2, 1, 1, 0, 1, 1, 1, 0, 2, 0, 1, 2, 0, 0, 2, 0, 2, 2, 1, 0,
       2, 0, 2, 0, 1, 0, 2, 2, 2, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 2,
       1, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 2, 0, 2, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 2,
       0, 1, 0, 2, 1, 0, 0, 0, 2, 2, 1, 0, 0, 0, 1, 0, 2, 1, 0, 0, 2, 0,
       0, 1, 0, 2, 0, 0, 1, 0, 1, 0, 0, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 2, 1, 0, 0, 0, 0, 0, 2, 1, 0, 0, 0, 1, 2, 0, 1, 1,
       0, 0, 0, 2, 1, 0, 2, 2, 2, 1, 0, 0, 0, 1, 1, 0, 2, 0, 0, 0, 0, 1,
       2, 0, 0, 2, 0, 0, 2, 1, 0, 1, 0], dtype=int64)

In [40]:
k3

Int64Index([3, 1, 2], dtype='int64')

In [46]:
m1 = pd.get_dummies(train_df["Pclass"],prefix="Pclass")
m1

     Pclass_1  Pclass_2  Pclass_3
0           0         0         1
1           1         0         0
2           0         0         1
3           1         0         0
4           0         0         1
..        ...       ...       ...
886         0         1         0
887         1         0         0
888         0         0         1
889         1         0         0
890         0         0         1

[891 rows x 3 columns]

In [ ]:
m1 = pd.*_d*

In [ ]:
m1 = train_df.*_d*

In [ ]:
m1 = train_df.*du*

In [23]:
train_df.iloc[1:23,0:7]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0
5,6,0,3,"Moran, Mr. James",male,NaN,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0
16,17,0,3,"Rice, Master. Eugene",male,2.0,4
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0

In [8]:
train_df["Survived"]

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [6]:
train_df.to_csv("0001.csv")

In [43]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

survival:   Survival    
PassengerId: Unique Id of a passenger.    
pclass: Ticket class    
sex:    Sex 
Age:    Age in years    
sibsp:  # of siblings / spouses aboard the Titanic  
parch:  # of parents / children aboard the Titanic  
ticket: Ticket number   
fare:   Passenger fare  
cabin:  Cabin number    
embarked:   Port of Embarkation

In [ ]:
train_df.drop(["PassengerId","Ticket"],axis=1,inplace = True)

In [ ]:
train_df.info()

In [ ]:
train_df.head(10)

In [ ]:
train_df.describe()

In [ ]:
# null values in each column
train_df.isnull().sum()

In [ ]:
# null values in each column in ascending order
train_df.isnull().sum().sort_values(ascending=False)

In [ ]:
print(train_df.shape)
train_df.shape[0]

In [ ]:
train_df.isnull().sum()/train_df.shape[0]*100

In [ ]:
total = train_df.isnull().sum().sort_values(ascending=False)

percent_1 = train_df.isnull().sum()/train_df.shape[0]*100

percent_2 = (round(percent_1, 2)).sort_values(ascending=False)

percentage_missing_data = pd.concat([total, percent_2,total_values], axis=1, keys=["total_number_missing","%"]) # axis = 1 to keep things vertically
percentage_missing_data["total_values"] = train_df.shape[0]
percentage_missing_data

In [ ]:
train_df.columns.values

In [ ]:
survived = 'survived'
not_survived = 'not survived'

In [ ]:
women = train_df[train_df['Sex']=='female']
men = train_df[train_df['Sex']=='male']

In [ ]:
plt.figure(figsize=(20,20))
ax = sns.histplot(data= women, x = "Age", hue="Survived", multiple="dodge", shrink=0.9, kde=False)
ax.set_title('Female')
ax.set_xbound(0,int(women["Age"].max())+10)
ax.set_xticks(list(range(0,int(women["Age"].max())+5,5)))

plt.figure(figsize=(20,20))
ax1 = sns.histplot(data= men, x = "Age", hue="Survived", multiple="dodge", shrink=0.9, kde=False)
ax1.set_title('male')
ax1.set_xbound(0,int(men["Age"].max())+10)
ax1.set_xticks(list(range(0,int(men["Age"].max())+5,5)))

In [ ]:
fig, axes = plt.subplots(nrows=2, ncols=1,figsize=(20, 20))

ax = sns.histplot(women[women['Survived']==1].Age.dropna(),shrink=0.45, bins=list(range(0,int(women["Age"].max())+5,5)), label = survived, ax = axes[0],color="red")
ax = sns.histplot(women[women['Survived']==0].Age.dropna(),shrink=0.45, bins=list(range(0,int(women["Age"].max())+5,5)), label = not_survived, ax = axes[0],color="green")
ax.legend()
ax.set_title('Female')
ax.set_xbound(0,int(women["Age"].max())+10)
ax.set_xticks(list(range(0,int(women["Age"].max())+5,5)))

ax = sns.histplot(men[men['Survived']==1].Age.dropna(), bins=list(range(0,int(men["Age"].max())+5,5)), label = survived, ax = axes[1], color="red")
ax = sns.histplot(men[men['Survived']==0].Age.dropna(), bins=list(range(0,int(men["Age"].max())+5,5)), label = not_survived, ax = axes[1], color="green")
ax.legend()
ax.set_title('Male')
ax.set_xbound(0,int(men["Age"].max())+10)
ax.set_xticks(list(range(0,int(men["Age"].max())+5,5)))

In [ ]:
for d in list(train_df.columns):
    train_df[d].unique()

In [ ]:
FacetGrid = sns.FacetGrid(train_df, row='Embarked', size=4.5, aspect=1.6)
FacetGrid.map(sns.pointplot, 'Pclass', 'Survived', 'Sex', palette=None,  order=None, hue_order=None )
FacetGrid.add_legend()