### Importing Libraries

In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifierjg
from imblearn.combine import SMOTEENN

#### Reading csv

In [2]:
df=pd.read_csv("tel_churn.csv")
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [10]:
k = df.columns
for e in k:
    print(df[e].value_counts())

0       1
4679    1
6750    1
605     1
2652    1
       ..
1258    1
5352    1
3299    1
1250    1
2047    1
Name: Unnamed: 0, Length: 7032, dtype: int64
0    5890
1    1142
Name: SeniorCitizen, dtype: int64
20.05    61
19.90    44
19.95    44
19.85    44
19.65    43
         ..
39.95     1
18.55     1
39.55     1
18.75     1
97.25     1
Name: MonthlyCharges, Length: 1584, dtype: int64
20.20      11
19.75       9
20.05       8
19.65       8
19.90       8
           ..
6424.70     1
1474.35     1
6668.35     1
6096.90     1
5867.00     1
Name: TotalCharges, Length: 6530, dtype: int64
0    5163
1    1869
Name: Churn, dtype: int64
0    3549
1    3483
Name: gender_Female, dtype: int64
1    3549
0    3483
Name: gender_Male, dtype: int64
1    3639
0    3393
Name: Partner_No, dtype: int64
0    3639
1    3393
Name: Partner_Yes, dtype: int64
1    4933
0    2099
Name: Dependents_No, dtype: int64
0    4933
1    2099
Name: Dependents_Yes, dtype: int64
0    6352
1     680
Name: PhoneService_No, dtype: int64
1    6352
0     680
Name: PhoneService_Yes, dtype: int64
0    3647
1    3385
Name: MultipleLines_No, dtype: int64
0    6352
1     680
Name: MultipleLines_No phone service, dtype: int64
0    4065
1    2967
Name: MultipleLines_Yes, dtype: int64
0    4616
1    2416
Name: InternetService_DSL, dtype: int64
0    3936
1    3096
Name: InternetService_Fiber optic, dtype: int64
0    5512
1    1520
Name: InternetService_No, dtype: int64
0    3535
1    3497
Name: OnlineSecurity_No, dtype: int64
0    5512
1    1520
Name: OnlineSecurity_No internet service, dtype: int64
0    5017
1    2015
Name: OnlineSecurity_Yes, dtype: int64
0    3945
1    3087
Name: OnlineBackup_No, dtype: int64
0    5512
1    1520
Name: OnlineBackup_No internet service, dtype: int64
0    4607
1    2425
Name: OnlineBackup_Yes, dtype: int64
0    3938
1    3094
Name: DeviceProtection_No, dtype: int64
0    5512
1    1520
Name: DeviceProtection_No internet service, dtype: int64
0    4614
1    2418
Name: DeviceProtection_Yes, dtype: int64
0    3560
1    3472
Name: TechSupport_No, dtype: int64
0    5512
1    1520
Name: TechSupport_No internet service, dtype: int64
0    4992
1    2040
Name: TechSupport_Yes, dtype: int64
0    4223
1    2809
Name: StreamingTV_No, dtype: int64
0    5512
1    1520
Name: StreamingTV_No internet service, dtype: int64
0    4329
1    2703
Name: StreamingTV_Yes, dtype: int64
0    4251
1    2781
Name: StreamingMovies_No, dtype: int64
0    5512
1    1520
Name: StreamingMovies_No internet service, dtype: int64
0    4301
1    2731
Name: StreamingMovies_Yes, dtype: int64
1    3875
0    3157
Name: Contract_Month-to-month, dtype: int64
0    5560
1    1472
Name: Contract_One year, dtype: int64
0    5347
1    1685
Name: Contract_Two year, dtype: int64
0    4168
1    2864
Name: PaperlessBilling_No, dtype: int64
1    4168
0    2864
Name: PaperlessBilling_Yes, dtype: int64
0    5490
1    1542
Name: PaymentMethod_Bank transfer (automatic), dtype: int64
0    5511
1    1521
Name: PaymentMethod_Credit card (automatic), dtype: int64
0    4667
1    2365
Name: PaymentMethod_Electronic check, dtype: int64
0    5428
1    1604
Name: PaymentMethod_Mailed check, dtype: int64
0    4857
1    2175
Name: tenure_group_1 - 12, dtype: int64
0    6008
1    1024
Name: tenure_group_13 - 24, dtype: int64
0    6200
1     832
Name: tenure_group_25 - 36, dtype: int64
0    6270
1     762
Name: tenure_group_37 - 48, dtype: int64
0    6200
1     832
Name: tenure_group_49 - 60, dtype: int64
0    5625
1    1407
Name: tenure_group_61 - 72, dtype: int64

In [11]:
df=df.drop('Unnamed: 0',axis=1)

In [12]:
x=df.drop('Churn',axis=1)
x

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [13]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

##### Train Test Split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

#### Decision Tree Classifier

In [15]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [16]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [17]:
y_pred=model_dt.predict(x_test)
y_pred

array([1, 1, 0, ..., 1, 0, 0], dtype=int64)

In [18]:
model_dt.score(x_test,y_test)

0.775408670931059

In [19]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.88      0.85      1019
           1       0.61      0.50      0.55       388

    accuracy                           0.78      1407
   macro avg       0.72      0.69      0.70      1407
weighted avg       0.76      0.78      0.77      1407

###### As you can see that the accuracy is quite low, and as it's an imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.

###### Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.

###### Hence, moving ahead to call SMOTEENN (UpSampling + ENN)

In [20]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_sample(x,y)

In [21]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [22]:
model_dt_smote=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [23]:
model_dt_smote.fit(xr_train,yr_train)
yr_predict = model_dt_smote.predict(xr_test)
model_score_r = model_dt_smote.score(xr_test, yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test, yr_predict))

0.9301121656600517
              precision    recall  f1-score   support

           0       0.93      0.92      0.92       528
           1       0.93      0.94      0.94       631

    accuracy                           0.93      1159
   macro avg       0.93      0.93      0.93      1159
weighted avg       0.93      0.93      0.93      1159

In [24]:
print(metrics.confusion_matrix(yr_test, yr_predict))

[[484  44]
 [ 37 594]]

###### Now we can see quite better results, i.e. Accuracy: 92 %, and a very good recall, precision & f1 score for minority class.